html {
    height: 100%;
}
body {
    font-family: verdana;
    color:#E4E1E8;
    height:100%;
}
#top {
    width:90%;
    position:fixed;
    top:0px;
    left:5%;
    background-color:#212121;
    padding:10px;
    box-shadow: 0px 3px 3px #000;
    z-index: 1;
}
#top .MCW{
    color:#E4E1E8;
    font-size: 24px;
    font-weight:bold;
    display: inline;
    margin-right:20px;
}
#top .first{
    color:#A82F21;
}
#nav{
    display: inline;
    position:relative;
}
#nav .link {
    display:inline;
    color:#E4E1E8;
    border-right: 1px solid #066794;
    border-left: 1px solid #066794;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: -1px;
}
#nav .link:hover {
    color:#066794;
}
.page {
    width:100%;
    min-height:100%;
    position:relative;
    padding-left: 5%;
    padding-top: 5%;
    box-sizing:border-box;
}
.blue {
    background-color: #066794;
}
.white {
    background-color: #E4E1E8;
}
.page .content {
    position:absolute;
}
.page .content h1 {
    font-size: 24px;
    font-weight: bold;
}
.white .content h1 {
    color:#066794;
}
.blue .content h1 {
    color:#E4E1E8;
}